<div class="footer row" style="--bs-gutter-x: 0rem; ">
    <div class="col-md-6 row">
        <h1>JPHA</h1>
        <h5>One Stop for study and clothing needs</h5>
    </div>
    <div class="col-md-6 row">
        <h5>
            Quick Links
            
        </h5><a href="#" target="_blank" rel="noopener noreferrer">Courses</a>
            <a href="#" target="_blank" rel="noopener noreferrer">Clothing</a>
            <a href="#" target="_blank" rel="noopener noreferrer">Food</a>
            <a href="#" target="_blank" rel="noopener noreferrer">Orane</a>
    </div>
</div>