<div class="card" style="width: 100%; border:none;">
  <div class="row" style="justify-content: space-around;">
    <img src="{{current['image']}}" class="col-sm-4 card-image" alt="..." ">
    <div class="whatsNewCardBody col-sm-5 row">
      <h1 class="cardTitle" >
          {{current['title']}}
      </h1>
      <h4>
          Starting {{current['price']}}
      </h4>
      <a href="#" class="btn btn-outline-dark" style="width: max-content; margin: 10px;">Shop Now</a>
    </div>
  </div>  
</div>