.body{
    padding: 0vw 10vw;
    --bs-gutter-x: 0rem;
}

body{
    overflow-x: hidden;
}

nav{ 
    padding: 0vw 5vw;
}

.card-image{

    width: 85vw;
    height:65vh;
    object-fit: cover;
}

.card-img{
    width: 25vw;
    height: 40vh;
    object-fit: cover;
}

.whatsNewText{
    width: 100%;
    text-align: center;
    padding:10px 0px;
}

.whatsNewCardBody{  
    margin: 10px 500px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
}
.whatsNewCardBody h1{
    font-weight: 300;
}
.whatsNewCardBody h4{
    font-weight: 300;
}

.footer{
    background-color: black;
    color: white;
    width: 100vw;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;

}

.footer .col-md-6{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;
    

}

.footer a{
    color: white;
    text-decoration: none;
}

.footer h1{
    font-weight: 300;
}
.footer h5{
    font-weight: 300;
}

.SectionTitle{
    font-weight: 300;
}
.SectionSubtitle{
    font-weight: 300;
    font-style: italic;
}

.showcase{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.center{
    min-height: 70vh; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}
form{
    font-size: 1.2rem ;
    border: rgb(187, 187, 187) 2px solid;
    padding: 50px;
    border-radius: 10px ;
}
.nav-right{
    display: flex;
    flex-direction: row;
}
.nav-right a{
    text-decoration: none;
    color: black;
}