{% extends 'Base.html' %}

{% block head %}
<title>
    JPHA - Grey Skirt
</title>
{% endblock %}

{% block body %}
<div class="clothdiv row">
    <img src="/static/whatsNew1.jpeg" class="clothimage col-md-8" alt="">
    <div class="clothdetails col-md-2">
        <h1>Grey Skirt</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde ducimus mollitia quaerat, quidem dignissimos reprehenderit nisi nulla repudiandae ex repellat modi ad libero eius. Beatae dicta libero labore voluptatum quia neque fugiat illum autem cum corrupti vel quae corporis aliquid, officia accusamus aperiam similique quis minima, incidunt tempore? Iusto, aliquid minus, distinctio mollitia illum, quidem nemo quod itaque deleniti velit nobis quibusdam error debitis qui voluptatem incidunt vero architecto?

        </p>
        <h3>1299 INR</h3>
        
    </div>
</div>
{% endblock %}