{% extends 'Base.html' %}

{% block head %}

    <title>
        JPHA - Login
    </title>

{% endblock %}

{% block body %}

    <div class="center">
        <h2>Welcome, Back</h2>
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="username" class="form-control" id="exampleInputEmail1" >
              </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
            <a href="/create-account" class="btn btn-outline-dark">Register</a>
          </form>
    </div>

{% endblock %}